html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 99;
  cursor: pointer;
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes slideIn-blur {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn-blur {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal_divver {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  cursor: pointer;
  z-index: 999;
  -webkit-animation: slideIn-blur 0.2s cubic-bezier(0.04, 0.86, 1, 1);
  animation: slideIn-blur 0.2s cubic-bezier(0.04, 0.86, 1, 1);
}
@media (max-width: 720px) {
  .modal_divver {
    align-items: flex-end;
  }
}
#modal {
  color: #26292e;
  max-width: 375px;
  cursor: default;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 32px;
  border-radius: 12px;
  z-index: 999;
  -webkit-animation: slideIn 0.2s cubic-bezier(0, 1, 1, 1);
  animation: slideIn 0.2s cubic-bezier(0, 1, 1, 1);
}
@media (max-width: 720px) {
  #modal {
    padding: 36px 16px;
  }
}
#modal .title {
  font-size: 36px;
  font-weight: 800;
}
@media (max-width: 720px) {
  #modal .title {
    font-size: 28px;
  }
}
#modal .subtitle {
  margin-top: 20px;
  font-weight: 800;
  font-size: 24px;
}
@media (max-width: 720px) {
  #modal .subtitle {
    font-size: 20px;
  }
}
#modal .desc {
  color: #9da2aa;
  word-break: keep-all;
}
#modal .btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #e7effc;
  border-radius: 12px;
  padding: 12px 24px;
  box-sizing: border-box;
  transition: 0.2s;
  margin-top: 100px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #26292e;
}
#modal .btn:hover {
  background-color: #f5f8fc;
}
#modal .btn div {
  flex: 1 1;
  text-align: center;
}
#modal .btn svg {
  width: 20px;
  height: 20px;
}
#modal .btn-1 {
  color: #649dff;
  font-weight: 800;
}
#modal .btn-2 {
  margin-top: 4px;
  background-color: #649dff;
  color: #fff;
  font-weight: 800;
}
#modal .btn-2:hover {
  background-color: #5992f3;
}
#modal .btn-3 {
  border-color: #ff6464;
  color: #ff6464;
  font-weight: 800;
}
#modal .btn-3:hover {
  background-color: #fcf1f1;
}
#modal .input {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #e7effc;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 12px;
  margin-top: 100px;
}
#modal .input:focus-within {
  box-shadow: 0 4px 4px #e7effc;
}
#modal .input input {
  border: 0;
  display: flex;
  flex: 1 1;
  padding-right: 4px;
}
#modal .input input:focus {
  outline: none;
}
#modal .input input::-webkit-input-placeholder {
  color: #9da2aa;
}
#modal .input input:-ms-input-placeholder {
  color: #9da2aa;
}
#modal .input input::placeholder {
  color: #9da2aa;
}
#modal .input .active {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#modal .input .active svg {
  width: 32px;
  height: 32px;
}
#modal .input .active svg circle,
#modal .input .active svg polyline {
  stroke: #649dff;
}
#modal .input .disabled {
  display: flex;
  align-items: center;
}
#modal .input .disabled svg {
  width: 32px;
  height: 32px;
}
#modal .input .disabled svg circle,
#modal .input .disabled svg polyline {
  stroke: #dadada;
}
#modal .btn-desc {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: #9da2aa;
}
#modal .btn-desc a {
  color: #649dff;
}
#modal .btn-desc .link {
  cursor: pointer;
  color: #649dff;
}
#index {
  max-width: 960px;
  margin: 90px auto 200px;
}
#index .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#index .titles .opize-projects {
  color: #2d6560;
}
#index .titles h1 {
  font-size: 54px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 720px) {
  #index .titles h1 {
    font-size: 32px;
  }
}
#index .titles .btn-connect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  background-color: #649dff;
  color: #fff;
  border-radius: 8px;
  margin-top: 16px;
  transition: 0.2s;
}
#index .titles .btn-connect:hover {
  background-color: #5992f3;
}
#index .titles .btn-connect svg {
  height: 20px;
  width: auto;
}
#index .blocks-1 {
  display: flex;
  padding: 8px;
  grid-gap: 16px;
  gap: 16px;
  margin-top: 64px;
}
@media (max-width: 720px) {
  #index .blocks-1 {
    flex-direction: column;
  }
}
#index .blocks-1 .block {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
}
#index .blocks-1 .block h2 {
  line-height: 1.3;
  font-size: 40px;
}
#index .blocks-1 .block h3 {
  line-height: 1.3;
  font-size: 32px;
}
#index .blocks-1 .block p {
  margin-top: 4px;
  font-size: 20px;
}
@media (max-width: 720px) {
  #index .blocks-1 .block h2 {
    font-size: 30px;
  }
  #index .blocks-1 .block h3 {
    font-size: 28px;
  }
}
#index .blocks-1 .block-left {
  max-width: 550px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #649dff, #9764ff);
  color: #fff;
}
@media (max-width: 720px) {
  #index .blocks-1 .block-left {
    max-width: 100%;
  }
}
#index .blocks-1 .block-left .btn {
  border-radius: 30px;
  border: 2px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  width: 140px;
  margin-top: 30px;
  text-decoration: none;
  color: #fff;
}
#index .blocks-1 .block-left .btn svg {
  height: 20px;
  width: auto;
}
#index .blocks-1 .block-left .img {
  display: flex;
  justify-content: flex-end;
}
#index .blocks-1 .block-left .img img {
  margin-right: 0;
  width: 192px;
  height: 192px;
}
@media (max-width: 720px) {
  #index .blocks-1 .block-left .img {
    margin-top: 32px;
  }
  #index .blocks-1 .block-left .img img {
    width: 128px;
    height: 128px;
  }
}
#index .blocks-1 .block-right {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
  width: 100%;
  flex: 1 1;
}
#index .blocks-1 .block-right .block-right-1 {
  background-color: #e7effc;
  height: 50%;
}
#index .blocks-1 .block-right .block-right-2 {
  background-color: #26292e;
  color: #9da2aa;
  height: 50%;
}
#index .blocks-1 .block-right .block-right-2 p {
  font-size: 14px;
}
#index .blocks-1 .block-right .block-right-2 span {
  color: #fff;
}
#index .blocks-2 {
  margin-top: 180px;
  padding: 8px;
}
@media (max-width: 720px) {
  #index .blocks-2 {
    margin-top: 90px;
  }
}
#index .blocks-2 .title {
  font-size: 24px;
  font-weight: 800;
  color: #26292e;
  display: none;
}
@media (max-width: 720px) {
  #index .blocks-2 .title {
    display: block;
  }
}
#index .blocks-2 .block {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 80px 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 720px) {
  #index .blocks-2 .block {
    flex-direction: column;
    padding: 40px 20px;
  }
}
#index .blocks-2 .block .block-left {
  width: 100%;
}
#index .blocks-2 .block .block-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .blocks-2 .block .subtitle {
  color: #649dff;
  font-weight: 800;
  font-size: 24px;
}
@media (max-width: 720px) {
  #index .blocks-2 .block .subtitle {
    font-size: 16px;
  }
}
#index .blocks-2 .block h3 {
  font-size: 40px;
  color: #26292e;
  line-height: 1.3;
}
@media (max-width: 720px) {
  #index .blocks-2 .block h3 {
    font-size: 30px;
  }
}
#index .blocks-2 .block p {
  margin-top: 8px;
  color: #9da2aa;
}
#index .blocks-2 .block img {
  width: auto;
  height: 200px;
}
@media (max-width: 720px) {
  #index .blocks-2 .block img {
    height: 140px;
    margin-top: 20px;
  }
}
#index .blocks-2 .block-1 {
  background-color: #e7effc;
}
#index .blocks-2 .block-2 {
  background: linear-gradient(90deg, #649dff, #9764ff);
}
#index .blocks-2 .block-2 .subtitle {
  color: #e7effc;
}
#index .blocks-2 .block-2 h3,
#index .blocks-2 .block-2 p {
  color: #fff;
}
#index .blocks-2 .block-3 {
  background-color: #26292e;
}
#index .blocks-2 .block-3 h3 {
  color: #fff;
}
#index .blocks-3 {
  margin-top: 270px;
  padding: 8px;
}
@media (max-width: 720px) {
  #index .blocks-3 {
    margin-top: 90px;
  }
}
#index .blocks-3 .title {
  font-size: 24px;
  font-weight: 800;
  color: #26292e;
}
#index .blocks-3 .reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  grid-gap: 20px;
  gap: 20px;
}
@media (max-width: 720px) {
  #index .blocks-3 .reviews {
    flex-direction: column;
  }
}
#index .blocks-3 .reviews .review {
  width: 100%;
  padding: 20px 20px 40px;
  box-sizing: border-box;
  background-color: #e7effc;
  border-radius: 20px;
}
#index .blocks-3 .reviews .review .review-emoji {
  font-size: 32px;
}
#index .blocks-3 .reviews .review .review-content {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 800;
  word-break: keep-all;
}
#index .blocks-3 .reviews .review .review-author {
  margin-top: 10px;
  font-size: 14px;
  color: #9da2aa;
}
#index .blocks-3 .desc {
  margin-top: 8px;
  margin-left: 2px;
  font-size: 14px;
  color: #9da2aa;
}
#index .blocks-4 {
  margin-top: 270px;
  padding: 8px;
}
@media (max-width: 720px) {
  #index .blocks-4 {
    margin-top: 90px;
  }
}
#index .blocks-4 .title {
  font-size: 24px;
  font-weight: 800;
  color: #26292e;
}
#index .blocks-4 .video {
  margin-top: 12px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
#index .blocks-4 .video embed,
#index .blocks-4 .video iframe,
#index .blocks-4 .video object {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#index .blocks-5 {
  margin-top: 270px;
  padding: 8px;
}
@media (max-width: 720px) {
  #index .blocks-5 {
    margin-top: 90px;
  }
}
#index .blocks-6 {
  margin-top: 40px;
  text-align: center;
}
#index .blocks-6 img {
  width: 100px;
}

.underscore {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}
.underscore:after {
  content: "";
  display: block;
  background-color: rgba(63, 186, 241, 0.3);
  margin-top: -16px;
  height: 14px;
}
/*# sourceMappingURL=main.c3f021a2.chunk.css.map */
